* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-color: rgb(244, 241, 222);
    font-family: futura;
    color: rgb(146, 146, 146);
}

ul, li {
    list-style-type: none;
}



